In [1]:
# import 
import pandas as pd
from pathlib import Path

# Load and read the files
school_data_load = Path('Resources', 'schools_complete.csv')
student_data_load = Path('Resources', 'students_complete.csv')

# Read files
school_data = pd.read_csv(school_data_load)
student_data = pd.read_csv(student_data_load)

# Combine Files into one data set
merged_data = pd.merge(student_data, school_data, how='left', on='school_name')
merged_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Count the number of unique schools
school_count = merged_data['school_name'].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = merged_data['student_name'].count()
student_count

39170

In [4]:
# Calculate the total budget
unique_school_budget = merged_data.drop_duplicates(subset='school_name')
total_budget = unique_school_budget['budget'].sum()
total_budget

24649428

In [10]:
# Calculate the average math score
average_math_score = merged_data['math_score'].mean()
average_math_score

78.98537145774827

In [12]:
# Calculate the average reading score
average_reading_score = merged_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [14]:
# Students who passed math with a score greater or equal to 70
passing_math_count = merged_data[(merged_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [16]:
# Students who passed reading with a score greater than or equal to 70
passing_reading_count = merged_data[(merged_data['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [20]:
# Percentage of Students who passed math and reading
passing_math_reading_count = merged_data[
    (merged_data["math_score"] >= 70) & (merged_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [30]:
# Key district metrics
district_summary = {'Variable': ['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Passing Overall'], 'Value': ['school_count', 'student_count', 'total_budget', 'average_math_score', 'average_reading_score', 'passing_math_percentage', 'passing_reading_percentage', 'overall_passing_rate']}
district_summary_df = pd.DataFrame(district_summary)

#Display the Dataframe
district_summary_df

                Variable                       Value
0          Total Schools                school_count
1         Total Students               student_count
2           Total Budget                total_budget
3     Average Math Score          average_math_score
4  Average Reading Score       average_reading_score
5         % Passing Math     passing_math_percentage
6      % Passing Reading  passing_reading_percentage
7      % Passing Overall        overall_passing_rate